body {
    
    background-image: url(assets/advent.png);
    background-size: auto;
    background-repeat: none;
    font-family: 'Chewy', cursive;
    
}

.container {
    width: fit-content;
    margin-top: 100px;
}

.kapitelbutton__title {
    display: grid;
    grid-gap: 50px;
    color: #219A4D;
    font-size:38px;
    padding-left: 40px;
    }
    
