body {
    
    background-color: #ffffff;
    text-align: center;
    padding: 5%;
    font-family: 'Chewy', cursive;
    background-image: url(assets/skattejagt.png);
    background-repeat: none;
   
}



h1 {
    color: #FF0000;
    transform: rotate(-90deg);
    font-size:50px;
    position: relative;
    text-shadow: 2px 2px 8px #030303;
    float: left;
}

h2 {
    display: grid;
    justify-content: center;

}

a{
    text-decoration: none;
}


.kapitelbutton__title {
    
        color: #219A4D;
        font-size:50px;
        padding-left: 40px;
        padding-right: 40px;
        font-size: 25;
        z-index: 10;
    }
    
