/* Color directory
Blue - #64B6FF (Background color)
White - #EEEAE4 (Text & Button color)
Red - #CD0D24 (Button text color)



Base styles */

body {
    background-color: #64B6FF;
    text-align: center;
    padding: 5%;
    color: #EEEAE4;
    font-family: 'Chewy', cursive;
}

.nextbutton {
    background-color: #CD0D24;
    width: fit-content;
    margin: auto;
    border-radius: 20px;
}

.nextbutton__title {
    font-size:30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Pirat_skan.html styles */

.illustration {
    width: 100%;
}

.pirat__titel {
    font-size: 40px;
}

/* Pirat_1.html style */

.svar {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.svarbutton1 {
    background-color: #EEEAE4;
    color: #CD0D24;
    width: fit-content;
    margin: auto;
    border-radius: 20px;
}

.svarbutton2 {
    background-color: #EEEAE4;
    color: #CD0D24;
    width: fit-content;
    margin: auto;
    border-radius: 20px;
}

.svarbutton3 {
    background-color: #EEEAE4;
    color: #CD0D24;
    width: fit-content;
    margin: auto;
    border-radius: 20px;
}

.svarbutton4 {
    background-color: #EEEAE4;
    color: #CD0D24;
    width: fit-content;
    margin: auto;
    border-radius: 20px;
}

.svarbutton__title {
    font-size:30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* skeleton_gift.html style */

.skeleton {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    padding-bottom: 50px;
}

.hand__gift {
    width: 30%;
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    padding-top: 50px;
}