body {
    background-color: #FF0001;
    background-repeat: no-repeat;
    text-align: center;
    padding: 5%;
    color: #EEEAE4;
    font-family: 'Chewy', cursive;
    background-image: url('assets/lightleak.png');
}

main {
    display: grid;
    justify-content: center;
}

.bouncinggift {
    width: 100%;}
  

.splashscreen__title {
    text-shadow: 2px 2px 8px #030303;
    font-size:50px;
    padding-top: 100px;
animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}
a {
    border-radius: 20px;
    color: #ffffff;
    background-color: #00000086;
    font-size:20px;
    margin-top: 50px;
    padding-top:auto;
    padding-bottom: 0;
    animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
   
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
}