body {
    background-color: #CD0D24;
    text-align: center;
    padding: 5%;
    color: #EEEAE4;
    font-family: 'Chewy', cursive;
    text-shadow: 2px 2px 2px #020202;
}

h2 {
    font-size: 50px;
    line-height: 40px;
    text-shadow: 2px 2px 2px #020202;
}

.logo {
    width: 20%;
    animation: fadeInUp;
    animation-duration: 1.5s;
    z-index: -1;
}

.pokal {
    width: 30%;
    position: relative;
    z-index: 2;
}

.scooter {
    width: 50%;
    animation: bounceInLeft;
    animation-duration: 1.0s;
}